.cell--notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.cell--notes__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
